* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    transition: 0.5s ease;
    
    --webkit-transition: 0.5s ease;
    --moz-transition: 0.5s ease;
    --o-transition: 0.5s ease;
    --ms-transition: 0.5s ease;
    --webkit-box-sizing: border-box;
    --moz-box-sizing: border-box;
    --o-box-sizing: border-box;

    &::before,
    &::after {
        box-sizing: inherit;
        transition: 0.5s ease;
    }
}
