// ----------------------- COLORS ----------------------- 
$success: #28a745;
$info: #17a2b8;
$warning: #ffc107;
$danger: #dc3545;
$secondary: #6c757d;
$dark: #343a40;
$primary: #007bff;
$light: #ffffff;




// ----------------------- FUNCTIONS ----------------------- 
// function flex(direction, align, justify, gap) {}
@mixin flex($direction: row, $align: center, $justify: center, $gap: 10px) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    gap: $gap;
    flex-direction: $direction;
}

// flex(row, center, flex-start, 20px);
// flex($gap:50px);


%btn-input-style {
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    margin: 10px;
    border: none;
}