@use 'resets';
@import 'vars';

body {
    background-color: $dark;
    color: $light;
    height: 100vh;
    @include flex();

    main {
        width: 50%;
        margin: 0 auto;
        background-color: black;
        padding: 20px;
        @include flex($direction: column);


        h1 {
            text-align: center;
        }

        input {
            @extend %btn-input-style;
            padding: 20px;
        }

        .action {
            button {
                @extend %btn-input-style;

                &.success {
                    background-color: $danger;
                }

                &.info {
                    background-color: $info;
                }

                &:hover {
                    box-shadow: 0 0 10px 5px $dark;
                }
            }
        }
    }
}