* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.3s;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-between;
    align-content: space-between;
    background-color: rgb(36, 36, 128);
    width: 200px;
    color: snow;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
}

.nav-header #navbar-toggler {
    display: inline-block;
    margin: 20px;
    cursor: pointer;
}

.nav-body a {
    padding: 20px;
    width: 100%;
    color: snow;
    text-decoration: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.nav-body a svg {
    width: 32px;
    height: 32px;
    position: relative;
    left: 0;
}

.nav-footer #logout-link:hover,
.nav-body a:hover {
    border-left: 5px solid rgb(65, 65, 255);
    background-color: rgb(65, 65, 255, 0.5);
}

.nav-footer #logout-link {
    color: snow;
    text-decoration: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding: 20px;
}

.nav-footer #logout-link svg {
    width: 48px;
    height: 48px;
}

.closed {
    width: 100px;
}

.closed .nav-link span {
    display: none;
}

.closed .nav-body .nav-link svg {
    left: 10px;
}


main {
    display: grid;
    grid-template-columns: 200px 1fr;
    gap: 20px;
    background-color: lightgray;
}
.content {
    padding: 20px 10px;
}
.content .todo-container {
    width: 50%;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    color: black;
}
.todo-container h1 {
    font-size: 3em;
}
.todo-container .action {
    position: relative;
}
.todo-container .action input {
    width: 100%;
    display: block;
    padding: 20px 50px 20px 20px;
    border-radius: 30px;
    border: none;
    outline: none;
    margin: 20px 0;
    font-size: 20px;
    background-color: #ddd;
}
.todo-container .action #create-todo-btn {
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    position: absolute;
    right: 0;
    top: 0;
    background-color: green;
    color: snow;
    font-size: 3em;
    cursor:pointer;
}
.todo-container .action #create-todo-btn:hover {
    background-color: darkgreen;
}

.todos {
    list-style: none;
}

li {
    padding: 10px 20px;
    background-color: #eee;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}
li .actions span {
    cursor: pointer;
    display: inline-block;
    border-radius: 50%;
    margin: 0 10px;
}
li .actions span::selection {
    background-color: transparent;
}

li .actions span:hover {
    transform: scale(1.5);
}
li .todo-text.line-through {
    text-decoration: line-through solid black 3px;
}
li .todo-text {
    font-size: 1.5em;
}