* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.5s;
}

header {
    display: grid;
    grid-template-columns: 1fr 3fr 2fr;
    gap: 10px;
    text-align: center;
    box-shadow: 0 4px 8px darkgray;
    padding: 20px 0;
}

a {
    text-decoration: none;
    color: black;
    padding: 10px 0;
    margin: 0 20px;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
}

header .right a {
    font-size: 1.5em;
    margin: 0 10px;
}

header .middle {
    position: relative;
    top: 10px;
}

header .middle a:hover {
    color: orangered;
    border-bottom: orangered 2px solid;
    padding: 10px 0 15px 0;
}

header .left a {
    font-size: 2em;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}
.carousel-wrapper {
    padding: 50px 50px 50px 100px;
    background-color: #F7F2EE;
}
.carousel-wrapper .content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.content h1 {
    font-size: 4em;
    font-family: sans-serif;
    width: 80%;
}
.content h1 span {  color: #B62A2B;  }

.text-muted {
    color: gray;
    font-family: sans-serif;
    width: 80%;
    line-height: 20px;
    margin: 20px 0;
}
button {
    padding: 15px 30px;
    cursor: pointer;
    border: 2px solid #B62A2B;
    border-radius: 8px;
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-right: 50px;
}
button.outlined {
    background-color: #B62A2B;
    color: snow;
}
button:hover {
    box-shadow: 0 0 10px 0 #B62A2B;
}
.content .btn-group {
    margin-top: 50px;
}

.carousel-wrapper .dots {  text-align: center;  }

.carousel-wrapper .dots > div {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: #222;
    cursor: pointer;
    border-radius: 50%;
    margin: 0 5px;
}
.carousel-wrapper .dots > div.selected {  background-color: #B62A2B;  }