@import "../../../assets/styles/settings";

.carousel-wrapper {
    position: relative;

    .carousel-inner-wrapper {
        position: absolute;
        left: 10%;
        top: 30%;
        width: 35%;
        z-index: 9;

        * {
            margin-bottom: 20px;
        }
    }

    img {
        height: 600px;
        filter: grayscale(100%);
        opacity: 0.4;
    }

    .control-dots {
        // position: absolute;
        // width: 35%;
        // left: 10%;
        // text-align: left;
        // bottom: 20%;

        .dot {
            transform: scale(1.2);
        }

        .dot.selected {
            transform: scale(1.6);
            background-color: $orange;
            box-shadow: 2px 2px 15px $orange, -2px -2px 15px $orange;
        }
    }
}