<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

</head>
<body>

    <div id="app">
        <h3 v-if="summ.length > 3">Entered value in USD: {{ inUSD }}</h3>
        <input type="text" placeholder="Enter a sum value" v-model="summ">
    </div>

    <script>
        const { createApp, ref, reactive, computed } = Vue

        createApp({
            setup() {
                const summ = ref(0)
                const inUSD = computed(() => {
                    let one_usd = 13000
                    let result = summ.value / one_usd
                    return result.toFixed(2) // 2.213124123123 -> 2.21
                })
                
                return {
                    summ,
                    inUSD
                }
            }
        }).mount('#app')
    </script>
</body>
</html>