// ------------- COLORS -------------
$dark: #141414;
$light: #ffffff;
$orange: #FF6600;
$orange-t: #FF660030;
$gray: gray;
$gray-l: lightgray;


$large-screen: 1100px;
$medium-screen: 855px;
$small-screen: 680px;


// ----------------------------------------
// ------------- GRID & FLEX -------------
@mixin grid($cols: 2) {
    display: grid;
    grid-template-columns: repeat($cols, 1fr);
    gap: 10px;
    justify-content: center;
    align-items: center;
}

@mixin flex() {
    display: flex;
    justify-content: center;
    align-items: center;
}

// ----------------------------------------