// ------------- COLORS -------------
$dark: #141414;
$dark-l: #1C1C1C;
$light: #ffffff;
$orange: #FF6600;
$orange-t: #FF660030;
$gray: gray;
$gray-l: lightgray;


$x-large-screen: 1250px;
$large-screen: 1100px;
$medium-screen: 855px;
$small-screen: 680px;

// STANDARD SIZES WORLDWIDE
// $large-screen: 1200px;
// $medium-screen: 992px;
// $small-screen: 768px;
// $extra-small-screen: 576px;


// ----------------------------------------
// ------------- GRID & FLEX -------------
@mixin grid($cols: 2) {
    display: grid;
    grid-template-columns: repeat($cols, 1fr);
    gap: 10px;
    justify-content: center;
    align-items: center;
}

@mixin flex() {
    display: flex;
    justify-content: center;
    align-items: center;
}

// ----------------------------------------