@use '_settings' as *;

img::selection,
button::selection,
svg::selection {
    background-color: transparent;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: 0.2s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
}

a {
    text-decoration: none;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px;
    margin: 0 5px;
    border-radius: 5px;


    &.delete-btn {
        color: $light;
        background: $red-gradient;
        @include darken_bg_on_hover($red);
    }

    &.cancel-btn {
        color: $light;
        background: $green-gradient;
        @include darken_bg_on_hover($green);
    }
}

input {
    border: none;
    outline: none;
    padding: 10px 20px;
    background-color: #eee;
}



.dropdown {
    display: inline-block;
    position: relative;

    .drp-content {
        max-width: 180px;
        position: absolute;
        box-shadow: 0 8px 16px lightgray;
        top: 37px;
        left: 0px;
        display: none;

        p {
            padding: 10px 20px;
            background-color: $violet-dark;
            color: $black;
            font-weight: normal;
            font-family: sans-serif;

            &:hover {
                background-color: $violet;
                color: $light;
            }

            &.active {
                background-color: $violet;
                color: $light;
            }
        }
    }

    &:hover {
        .drp-content {
            display: block;
        }
    }
}