body {
    max-width: 100%;
    max-height: 100vh;
    background-color: black;
    color: snow;
    padding: 50px;
    position: relative;
    background: url(./images/main-bg.png);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}