// =========================================================================
// COLORS

$red-gradient: linear-gradient(90deg, #FF56BB, #FF8F77);
$indigo-gradient: linear-gradient(90deg, #6E56FF, #B073FF);
$green-gradient: linear-gradient(90deg, #56C2FF, #48FE9C);
$orange-gradient: radial-gradient(circle,
        #FFC27A,
        #FF771550,
        #FAEDFF99);
$pink-gradient: radial-gradient(circle,
        #FF7A91,
        #FFB2EA50,
        #FAEDFF99);

$light: #fff;
$dark: #111;
$text-color: #6B6B6B;
$light-gray: #F3F3F3;
$dark-gray: #B7B7B7;
$red: #FF7795;
$violet: #6E56FF;

// =========================================================================
// =========================================================================
// MIXINS
@mixin flex($direction: row, $align: center, $justify: center, $gap: 10px, $wrap: nowrap) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    gap: $gap;
    flex-direction: $direction;
    flex-wrap: $wrap;
}

// EXAMPLES: --------------------------------
// @include flex();  =>  default flex values
// @include flex(column, flex-start, flex-start, 20px, wrap);  => send a manual parameter
// @include flex($gap:20px);  =>  all others are used as default
// =========================================================================
@mixin grid($cols: 12, $gap: 10px) {
    display: grid;
    grid-template-columns: repeat($cols, 1fr);
    gap: $gap;
}

// EXAMPLES: --------------------------------
// @include grid();  =>  default grid values
// @include grid(2); =>  2 columns
// ----------------
// If you want to change 1fr to smth else, you can do it like this:
// @include grid();
// grid-template-columns: ... ... ...;
// =========================================================================
// =========================================================================
@mixin wave_effect() {
    clip-path: polygon(0 0, 100% 0, 100% 90%, 81% 95%, 63% 99%, 43% 99%, 28% 96%, 15% 91%, 0 89%);
    background-color: $light-gray;
    height: 80vh;
    padding-bottom: 20px;
}



@mixin circle($size) {
    width: $size;
    height: $size;
    border-radius: 50%;
}