@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,700&display=swap");
* {
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
}

body {
  background-image: radial-gradient(circle, #333, #000 800px);
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.noise {
  position: relative;
  width: 287px;
  height: 36px;
  border: none;
  background: none;
  font-family: "Josefin Sans", sans-serif;
  font-size: 24px;
  color: #fff;
  cursor: pointer;
}
.noise::after {
  content: "Hover for Noise";
  opacity: var(--op, 1);
  transition: opacity 0.4s;
}
.noise > i {
  position: absolute;
  left: var(--left, 0);
  top: 50%;
  width: 3px;
  height: 72px;
  transform: translateY(-50%) scaleY(var(--sy, 0));
  z-index: -1;
  transition: transform var(--duration) ease-out;
}
.noise > i::after {
  content: "";
  position: absolute;
  inset: 0;
  background-image: linear-gradient(#fff, hsl(var(--hue, 0), 75%, 75%));
  border-radius: 50%;
  animation: noise var(--duration) infinite ease-in-out alternate;
  animation-play-state: var(--aps, paused);
}
@keyframes noise {
  0% {
    transform: scaleY(calc(1 - (var(--size, 0))));
  }
  100% {
    transform: scaleY(calc(1 + (var(--size, 0))));
  }
}
.noise > i:nth-child(1) {
  --left: 0px;
  --duration: 291ms;
  --size: 0.187;
  --hue: 0;
}
.noise > i:nth-child(2) {
  --left: 4px;
  --duration: 283ms;
  --size: 0.954;
  --hue: 5;
}
.noise > i:nth-child(3) {
  --left: 8px;
  --duration: 224ms;
  --size: 0.063;
  --hue: 10;
}
.noise > i:nth-child(4) {
  --left: 12px;
  --duration: 334ms;
  --size: 0.877;
  --hue: 15;
}
.noise > i:nth-child(5) {
  --left: 16px;
  --duration: 342ms;
  --size: 0.036;
  --hue: 20;
}
.noise > i:nth-child(6) {
  --left: 20px;
  --duration: 323ms;
  --size: 0.117;
  --hue: 25;
}
.noise > i:nth-child(7) {
  --left: 24px;
  --duration: 256ms;
  --size: 0.948;
  --hue: 30;
}
.noise > i:nth-child(8) {
  --left: 28px;
  --duration: 391ms;
  --size: 0.556;
  --hue: 35;
}
.noise > i:nth-child(9) {
  --left: 32px;
  --duration: 388ms;
  --size: 0.965;
  --hue: 40;
}
.noise > i:nth-child(10) {
  --left: 36px;
  --duration: 391ms;
  --size: 0.845;
  --hue: 45;
}
.noise > i:nth-child(11) {
  --left: 40px;
  --duration: 374ms;
  --size: 0.994;
  --hue: 50;
}
.noise > i:nth-child(12) {
  --left: 44px;
  --duration: 259ms;
  --size: 0.268;
  --hue: 55;
}
.noise > i:nth-child(13) {
  --left: 48px;
  --duration: 282ms;
  --size: 0.407;
  --hue: 60;
}
.noise > i:nth-child(14) {
  --left: 52px;
  --duration: 205ms;
  --size: 0.705;
  --hue: 65;
}
.noise > i:nth-child(15) {
  --left: 56px;
  --duration: 341ms;
  --size: 0.638;
  --hue: 70;
}
.noise > i:nth-child(16) {
  --left: 60px;
  --duration: 211ms;
  --size: 0.27;
  --hue: 75;
}
.noise > i:nth-child(17) {
  --left: 64px;
  --duration: 319ms;
  --size: 0.545;
  --hue: 80;
}
.noise > i:nth-child(18) {
  --left: 68px;
  --duration: 323ms;
  --size: 0.933;
  --hue: 85;
}
.noise > i:nth-child(19) {
  --left: 72px;
  --duration: 298ms;
  --size: 0.348;
  --hue: 90;
}
.noise > i:nth-child(20) {
  --left: 76px;
  --duration: 256ms;
  --size: 0.729;
  --hue: 95;
}
.noise > i:nth-child(21) {
  --left: 80px;
  --duration: 238ms;
  --size: 0.371;
  --hue: 100;
}
.noise > i:nth-child(22) {
  --left: 84px;
  --duration: 248ms;
  --size: 0.996;
  --hue: 105;
}
.noise > i:nth-child(23) {
  --left: 88px;
  --duration: 309ms;
  --size: 0.465;
  --hue: 110;
}
.noise > i:nth-child(24) {
  --left: 92px;
  --duration: 208ms;
  --size: 0.557;
  --hue: 115;
}
.noise > i:nth-child(25) {
  --left: 96px;
  --duration: 214ms;
  --size: 0.126;
  --hue: 120;
}
.noise > i:nth-child(26) {
  --left: 100px;
  --duration: 277ms;
  --size: 0.64;
  --hue: 125;
}
.noise > i:nth-child(27) {
  --left: 104px;
  --duration: 349ms;
  --size: 0.94;
  --hue: 130;
}
.noise > i:nth-child(28) {
  --left: 108px;
  --duration: 297ms;
  --size: 0.659;
  --hue: 135;
}
.noise > i:nth-child(29) {
  --left: 112px;
  --duration: 254ms;
  --size: 0.4;
  --hue: 140;
}
.noise > i:nth-child(30) {
  --left: 116px;
  --duration: 220ms;
  --size: 0.443;
  --hue: 145;
}
.noise > i:nth-child(31) {
  --left: 120px;
  --duration: 215ms;
  --size: 0.562;
  --hue: 150;
}
.noise > i:nth-child(32) {
  --left: 124px;
  --duration: 244ms;
  --size: 0.941;
  --hue: 155;
}
.noise > i:nth-child(33) {
  --left: 128px;
  --duration: 280ms;
  --size: 0.234;
  --hue: 160;
}
.noise > i:nth-child(34) {
  --left: 132px;
  --duration: 385ms;
  --size: 0.723;
  --hue: 165;
}
.noise > i:nth-child(35) {
  --left: 136px;
  --duration: 223ms;
  --size: 0.93;
  --hue: 170;
}
.noise > i:nth-child(36) {
  --left: 140px;
  --duration: 365ms;
  --size: 0.873;
  --hue: 175;
}
.noise > i:nth-child(37) {
  --left: 144px;
  --duration: 358ms;
  --size: 0.787;
  --hue: 180;
}
.noise > i:nth-child(38) {
  --left: 148px;
  --duration: 355ms;
  --size: 0.26;
  --hue: 185;
}
.noise > i:nth-child(39) {
  --left: 152px;
  --duration: 268ms;
  --size: 0.966;
  --hue: 190;
}
.noise > i:nth-child(40) {
  --left: 156px;
  --duration: 291ms;
  --size: 0.147;
  --hue: 195;
}
.noise > i:nth-child(41) {
  --left: 160px;
  --duration: 291ms;
  --size: 0.743;
  --hue: 200;
}
.noise > i:nth-child(42) {
  --left: 164px;
  --duration: 327ms;
  --size: 0.873;
  --hue: 205;
}
.noise > i:nth-child(43) {
  --left: 168px;
  --duration: 240ms;
  --size: 0.549;
  --hue: 210;
}
.noise > i:nth-child(44) {
  --left: 172px;
  --duration: 323ms;
  --size: 0.715;
  --hue: 215;
}
.noise > i:nth-child(45) {
  --left: 176px;
  --duration: 378ms;
  --size: 0.58;
  --hue: 220;
}
.noise > i:nth-child(46) {
  --left: 180px;
  --duration: 305ms;
  --size: 0.183;
  --hue: 225;
}
.noise > i:nth-child(47) {
  --left: 184px;
  --duration: 216ms;
  --size: 0.781;
  --hue: 230;
}
.noise > i:nth-child(48) {
  --left: 188px;
  --duration: 290ms;
  --size: 0.722;
  --hue: 235;
}
.noise > i:nth-child(49) {
  --left: 192px;
  --duration: 343ms;
  --size: 0.085;
  --hue: 240;
}
.noise > i:nth-child(50) {
  --left: 196px;
  --duration: 366ms;
  --size: 0.441;
  --hue: 245;
}
.noise > i:nth-child(51) {
  --left: 200px;
  --duration: 379ms;
  --size: 0.732;
  --hue: 250;
}
.noise > i:nth-child(52) {
  --left: 204px;
  --duration: 241ms;
  --size: 0.527;
  --hue: 255;
}
.noise > i:nth-child(53) {
  --left: 208px;
  --duration: 220ms;
  --size: 0.698;
  --hue: 260;
}
.noise > i:nth-child(54) {
  --left: 212px;
  --duration: 360ms;
  --size: 0.272;
  --hue: 265;
}
.noise > i:nth-child(55) {
  --left: 216px;
  --duration: 305ms;
  --size: 0.111;
  --hue: 270;
}
.noise > i:nth-child(56) {
  --left: 220px;
  --duration: 363ms;
  --size: 0.042;
  --hue: 275;
}
.noise > i:nth-child(57) {
  --left: 224px;
  --duration: 327ms;
  --size: 0.552;
  --hue: 280;
}
.noise > i:nth-child(58) {
  --left: 228px;
  --duration: 234ms;
  --size: 0.046;
  --hue: 285;
}
.noise > i:nth-child(59) {
  --left: 232px;
  --duration: 209ms;
  --size: 0.408;
  --hue: 290;
}
.noise > i:nth-child(60) {
  --left: 236px;
  --duration: 325ms;
  --size: 0.31;
  --hue: 295;
}
.noise > i:nth-child(61) {
  --left: 240px;
  --duration: 249ms;
  --size: 0.756;
  --hue: 300;
}
.noise > i:nth-child(62) {
  --left: 244px;
  --duration: 217ms;
  --size: 0.13;
  --hue: 305;
}
.noise > i:nth-child(63) {
  --left: 248px;
  --duration: 239ms;
  --size: 0.945;
  --hue: 310;
}
.noise > i:nth-child(64) {
  --left: 252px;
  --duration: 360ms;
  --size: 0.6;
  --hue: 315;
}
.noise > i:nth-child(65) {
  --left: 256px;
  --duration: 279ms;
  --size: 0.504;
  --hue: 320;
}
.noise > i:nth-child(66) {
  --left: 260px;
  --duration: 302ms;
  --size: 0.146;
  --hue: 325;
}
.noise > i:nth-child(67) {
  --left: 264px;
  --duration: 267ms;
  --size: 0.906;
  --hue: 330;
}
.noise > i:nth-child(68) {
  --left: 268px;
  --duration: 214ms;
  --size: 0.412;
  --hue: 335;
}
.noise > i:nth-child(69) {
  --left: 272px;
  --duration: 378ms;
  --size: 0.333;
  --hue: 340;
}
.noise > i:nth-child(70) {
  --left: 276px;
  --duration: 363ms;
  --size: 0.108;
  --hue: 345;
}
.noise > i:nth-child(71) {
  --left: 280px;
  --duration: 283ms;
  --size: 0.009;
  --hue: 350;
}
.noise > i:nth-child(72) {
  --left: 284px;
  --duration: 310ms;
  --size: 0.684;
  --hue: 355;
}
.noise:hover {
  --sy: 1;
  --aps: running;
  --op: 0;
}/*# sourceMappingURL=style.css.map */