@use "../assets/styles/vars.scss" as *;

.nfts-page {
    .action-btns {
        text-align: right;

        .create-nft-btn {
            background: $indigo-gradient;
        }
    }

    form {
        padding: 10px;
        background-color: #eee;
        border-radius: 10px;
        margin: 20px 0;

        input,
        textarea,
        button {
            display: block;
            width: 100%;
            margin: 10px 0;
            border: none;
            outline: none;
            padding: 10px 20px;
            border-radius: 10px;
        }

        textarea {
            height: 100px;
            resize: none;
        }

        button:hover {
            background: $indigo-gradient;
            color: $light;
        }

        img {
            cursor: pointer;
            border-radius: 10px;
        }
    }

    .nfts-list {
        width: 100%;
        height: 100%;
        margin: 20px 0;
        @include grid(4);

        .nft-item-wrapper {
            padding: 20px;
            border-radius: 10px;
            height: 420px;
            box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
            position: relative;
            @include flex(column, space-between, center);

            .nft-item-actions {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 220px;
                z-index: 999;
                @include flex(column, center, center);
                display: none;

                .delete-nft-btn,
                .edit-nft-btn {
                    width: 50px;
                    height: 50px;
                    background: $indigo-gradient;
                    color: $light;
                    border-radius: 50%;
                    cursor: pointer;
                    font-size: 2em;
                    @include flex(row, center, center);
                }
            }


            img {
                width: 100%;
                height: 200px;
                object-fit: cover;
            }

            .nft-item-body {
                @include flex(row, center, space-between);
                margin-bottom: 10px;
            }

            .nft-item-description {
                max-height: 50px;
                overflow: auto;
                margin-bottom: 20px;
            }

            .item-footer {
                position: absolute;
                bottom: 10px;
                left: 15px;
                width: 100%;
                @include flex(row, center, flex-start);

                img {
                    @include circle(30px);
                }
            }

            ::-webkit-scrollbar-thumb,
            ::-webkit-scrollbar {
                background: white;
                width: 5px;
                border-radius: 10px;
            }

            &:hover {

                ::-webkit-scrollbar {
                    background: $light-gray;
                }

                ::-webkit-scrollbar-thumb {
                    background: $indigo-gradient;
                }

                .nft-item-actions {
                    display: flex;
                }

                img:not(.author-image) {
                    filter: blur(1px) brightness(0.5);
                }
            }
        }
    }
}