@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "./assets/styles/settings";

:root {
  font-family: "Montserrat", system-ui, Avenir, Helvetica, Arial, sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: 0.2s;
}

body {
  background-color: $dark;
  color: $light;
}


button.btn,
a.btn,
span.btn {
  padding: 10px 20px;
  border: solid 1px transparent;
  background-color: transparent;
  color: snow;
  cursor: pointer;
  @include flex();
}

.btn.btn-warning {
  padding: 10px 30px;
  background-color: $orange-t;
  border-color: $orange;
  box-shadow: 2px 2px 25px $orange;

  &:hover {
    transform: scale(0.95);
  }

  &:active {
    transform: scale(0.85);
  }
}