* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.5s;
}
body {
    text-align: center;
    font-family: sans-serif;
}
table {
    width: 80%;
    margin: 40px auto;
    display: none;
}
th {
    background-color: black;
    color: snow;
}  
td {
    background-color: lightgray;
    color: black;
}  
th, td {
    padding: 10px 20px;
    border-radius: 10px;
}
button {
    padding: 10px 20px;
    border: 2px solid darkgreen;        
    color: green;
    cursor: pointer;
    margin: 10px 0;
}
button:hover {
    background-color: darkgreen;
    color: snow;
}