@import "../../assets/styles/settings";

.our-props-section {
    .four-divs {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: flex-start;

        .stability {
            @include grid();
            .right-info {
                margin-left: -200px;
                p {
                    color: lightgray;
                }
            }
        }

        .sustainability {
            @include grid();
            .right-info {
                margin-left: -200px;
                p {
                    color: lightgray;
                }
            }
        }

        .team {
            @include grid();
            .right-info {
                margin-left: -200px;
                p {
                    color: lightgray;
                }
            }
        }

        .reputation {
            @include grid();
            .right-info {
                margin-left: -200px;
                p {
                    color: lightgray;
                }
            }
        }
    }
}