@import "../../../assets/styles/settings";

.navbar-wrapper {
    background-color: $dark;
    color: $light;

    * {
        transition: 0.5s
    }

    @include flex();
    justify-content: space-between;
    padding: 10px 40px;

    .b-menu-wrapper {
        position: relative;
        width: 100%;

        #burger-menu-icon,
        #burger-menu-checkbox {
            position: absolute;
            right: 30px;
            width: 40px;
            height: 30px;
            display: none;
        }

        .b-content-wrapper {
            width: 100%;
            @include flex();
            justify-content: space-between;
            padding-left: 15%;
        }
    }

    a {
        margin: 0 10px;
        padding: 10px 20px;
        color: $light;
        text-decoration: none;
    }

    .auth-section {
        @include flex();
    }


    @media (min-width: $x-large-screen) {
        .b-menu-wrapper {
            .b-content-wrapper {}
        }
    }

    @media (max-width: $x-large-screen) {
        .b-menu-wrapper {
            .b-content-wrapper {
                padding-left: 10%;
            }
        }
    }

    @media (max-width: 1160px) {
        .b-menu-wrapper {
            .b-content-wrapper {
                padding-left: 5px;
            }
        }
    }

    @media (max-width: $large-screen) {
        #header-logo {
            position: relative;
            z-index: 999;
        }

        .b-menu-wrapper {

            #burger-menu-icon,
            #burger-menu-checkbox {
                cursor: pointer;
                display: block;
                z-index: 999;
                top: -20px;
            }

            #burger-menu-checkbox {
                opacity: 0;
            }

            .b-content-wrapper {
                @include flex();
                flex-direction: column;
                display: none;
                position: fixed;
                left: 0;
                top: 0;
                z-index: -99;
                width: 0;
                height: 100vh;
                background-color: rgb(0, 0, 0);
                overflow: hidden;
            }


            #burger-menu-checkbox:checked+.b-content-wrapper {
                z-index: 99;
                width: 100%;
                @include flex();
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;

                .links {
                    margin: 25% 0 0 20px;
                    @include flex();
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: flex-start;

                    a {
                        display: block;
                        margin-bottom: 20px;
                        font-size: 1.5em;
                    }
                }

                .auth-section {
                    flex-direction: column;
                    align-items: flex-start;
                    margin: 0 0 0 30px;

                    a,
                    button {
                        margin-bottom: 20px;
                        font-size: 1.5em;
                    }

                    button {
                        margin-left: 20px;
                    }
                }
            }
        }

    }

    @media (max-width: $small-screen) {
        padding: 0;
    }

}