@use 'settings' as *;

@font-face {
    font-family: "Forum";
    src: url(./fonts/Forum-Regular.ttf);
    font-weight: 100;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.1s;
    font-family: 'Forum', serif;
}

button {
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    background-color: $dark;
    color: $text-color;
    border-radius: 10px;
}

a {
    display: inline-block;
    text-decoration: none;
    color: $text-color;
}